.sub-title{
    @apply text-red-500 text-sm font-medium tracking-[0.3em] uppercase mb-4
}
.title{
    @apply text-4xl md:text-5xl lg:text-6xl font-bold text-white tracking-tight font-heading;
}
.title span{
    @apply text-gray-500;
}
.red-dot{
    @apply  w-2 h-2 bg-primary rounded-full;
}